.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 0px;
  border-bottom: 1px solid gray;
}

.top_container {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.author {
  font-weight: bold;
}

.date {
  color: gray;
}

.content {
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: rgb(67, 67, 67);
}
